<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ni.org.ics.zpo.appmovil"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    
    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true" />

    <application
        android:allowBackup="false"
        android:name="ni.org.ics.zpo.appmovil.MyZpoApplication"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="ni.org.ics.zpo.appmovil.LoginActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateVisible" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="ni.org.ics.zpo.appmovil.MainActivity" 
            android:screenOrientation="portrait" />
        <activity android:name="ni.org.ics.zpo.appmovil.preferences.PreferencesActivity"
                  android:screenOrientation="portrait" />
        <activity android:name="ni.org.ics.zpo.appmovil.activities.server.UploadAllActivity"
            android:screenOrientation="portrait" />
        <activity android:name="ni.org.ics.zpo.appmovil.activities.server.DownloadAllActivity"
            android:screenOrientation="portrait" />
        <activity android:name="ni.org.ics.zpo.appmovil.activities.buscar.BuscarMadreActivity"
                  android:screenOrientation="portrait" />
        <activity android:name="ni.org.ics.zpo.appmovil.activities.paginas.MenuMadresActivity"
                  android:screenOrientation="portrait" />
        <activity android:name="ni.org.ics.zpo.appmovil.activities.paginas.eventosmadre.IngresoActivity"
                  android:screenOrientation="portrait" />
        <activity android:name="ni.org.ics.zpo.appmovil.activities.paginas.eventosmadre.MotherVisitActivity"
                  android:screenOrientation="portrait" />
        <activity android:name="ni.org.ics.zpo.appmovil.activities.nuevos.NewZpo00ScreeningActivity"
                  android:screenOrientation="portrait" />
        <activity android:name="ni.org.ics.zpo.appmovil.activities.nuevos.NewZpo01StudyEntrySectionDtoFActivity"
                  android:screenOrientation="portrait" />
        <activity android:name="ni.org.ics.zpo.appmovil.activities.nuevos.NewZpo01StudyEntrySectionAtoBActivity"
                  android:screenOrientation="portrait" />
        <activity android:name="ni.org.ics.zpo.appmovil.activities.nuevos.NewZpo01StudyEntrySectionCActivity"
                  android:screenOrientation="portrait" />
        <activity android:name="ni.org.ics.zpo.appmovil.activities.nuevos.NewZpo02BiospecimenCollectionActivity"
                  android:screenOrientation="portrait" />
        <activity android:name="ni.org.ics.zpo.appmovil.activities.nuevos.NewZpo04ExtendedSectionAtoDActivity"
                  android:screenOrientation="portrait" />
        <activity android:name="ni.org.ics.zpo.appmovil.activities.nuevos.NewZpo04ExtendedSectionEActivity"
                  android:screenOrientation="portrait" />
        <activity android:name="ni.org.ics.zpo.appmovil.activities.nuevos.NewZpo04ExtendedSectionFActivity"
                  android:screenOrientation="portrait" />
        <activity android:name="ni.org.ics.zpo.appmovil.activities.nuevos.NewZpo05DeliveryActivity"
                  android:screenOrientation="portrait" />
        <activity android:name="ni.org.ics.zpo.appmovil.activities.nuevos.NewZpo08StudyExitActivity"
                  android:screenOrientation="portrait" />
        <activity android:name="ni.org.ics.zpo.appmovil.activities.buscar.BuscarInfanteActivity"
                  android:screenOrientation="portrait" />
        <activity android:name="ni.org.ics.zpo.appmovil.activities.paginas.MenuInfantesActivity"
                  android:screenOrientation="portrait" />
        <activity android:name="ni.org.ics.zpo.appmovil.activities.paginas.eventosinfante.InfantVisitActivity"
                  android:screenOrientation="portrait" />
        <activity android:name="ni.org.ics.zpo.appmovil.activities.paginas.eventosinfante.InfantEntryActivity"
                  android:screenOrientation="portrait" />
        <activity android:name="ni.org.ics.zpo.appmovil.activities.nuevos.NewZpo07InfantAssessmentVisitActivity"
                  android:screenOrientation="portrait" />
        <activity android:name="ni.org.ics.zpo.appmovil.activities.nuevos.NewZpo07InfantAssessmentVisitOphtActivity"
                  android:screenOrientation="portrait" />
        <activity android:name="ni.org.ics.zpo.appmovil.activities.nuevos.NewZpo07InfantAssessmentVisitPsyActivity"
                  android:screenOrientation="portrait" />
        <activity android:name="ni.org.ics.zpo.appmovil.activities.nuevos.NewZpo07aInfantOphtResultsActivity"
                  android:screenOrientation="portrait" />
        <activity android:name="ni.org.ics.zpo.appmovil.activities.nuevos.NewZpo07bInfantAudioResultsActivity"
                  android:screenOrientation="portrait" />
        <activity android:name="ni.org.ics.zpo.appmovil.activities.nuevos.NewZpo07cInfantImageStudiesActivity"
                  android:screenOrientation="portrait" />
        <activity android:name="ni.org.ics.zpo.appmovil.activities.nuevos.NewZpo07dInfantBayleyScalesActivity"
                  android:screenOrientation="portrait" />
        <activity android:name="ni.org.ics.zpo.appmovil.activities.paginas.MenuControlConsentimientosActivity"
                  android:screenOrientation="portrait" />
        <activity android:name="ni.org.ics.zpo.appmovil.activities.nuevos.NewZpoControlConsentimientosRecepcionActivity"
                  android:screenOrientation="portrait" />
        <activity android:name="ni.org.ics.zpo.appmovil.activities.nuevos.NewZpoControlConsentimientosSalidaActivity"
                  android:screenOrientation="portrait" />
    </application>

</manifest>